@import "includes/var";
@import "includes/general";
@import "includes/btn";
@import "includes/header";
@import "includes/footer";
@import "includes/bases";

/* Importation Identifiant par page */

@import "pages/index.scss";
@import "pages/mariages.scss";
@import "pages/whippet.scss";
@import "pages/boutique.scss";
