@import "./var";

html {
    margin: 0;
    padding: 0;
    background-color: $color-main;
}
body {
    background-color: $color-main;
    color: $color-text;
}
h1, h2, h3, h4 {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

a {
    color: $color-link;
}
a:hover {
    color: $color-detail;
    text-decoration: underline;
}