$color-main : #5a6264;
$color-second : #F598B9;
$color-third : #A85874;
$color-detail : #F5EFB0;
$color-print: #7FDDF5;


$color-text : $color-second;
$color-link : $color-second;
$link-hover: $color-third;
$color-hover: $color-detail;


