@import "../includes/var";


/* Carousel Page Accueil */

.carousel-button-prevnext {
    top: 20%;
    bottom: 20%;
}
.carousel-control-prev-btn {
    left: 10%;
}
.carousel-control-next-btn {
    right: 10%;
}

@media all and (max-width: 1280px)
{
    #index .carousel-caption {
        position: static;
        width: 75%;
        align-self: center;
    }
    #index .carousel-indicators {
        bottom: unset;
    }
    .btn-enter {
        margin-top: 0;
    }

}